:root {
    --textColor: #FFFFFF;
    --hgColor: #F2E394;
    --mainFamilyFont: "Outfit", sans-serif;
    --fondoMedio: #0B415E;
    --fondoOscuro: #0A182E;
    --fondoCards: #15314F;
    --card-shadow-inner: inset 8px 8px 15px rgba(0, 0, 0, 0.6),
        inset -4px -4px 10px rgba(255, 255, 255, 0.05);
}

.contact-section {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.contact-container-wrapper {
    background-color: var(--fondoCards) !important;
    border-radius: 3rem;
    overflow: hidden;
    max-width: 80rem;
    width: 100%;
}

/* Caja de contacto (Lado derecho) */
.contact-box {
    background-color: var(--fondoCards);
    padding: 3rem !important;
    height: 100%;
    box-shadow: inset -0.5rem 0rem 2.5rem 0.3rem rgba(0, 0, 0, 0.6),
        inset -1rem -1rem 2rem rgba(255, 255, 255, 0.05);
}

.contact-img {
    padding: 0;
    overflow: hidden;
}

.contact-img-element {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilo de los Inputs (Hundidos) */
.custom-input {
    background-color: var(--fondoCards) !important;
    border: 1px solid var(--hgColor) !important;
    border-radius: 0.8rem !important;
    color: var(--textColor) !important;
    padding: 0.8rem 1.2rem;
    box-shadow: var(--card-shadow-inner);
    transition: all 0.3s ease;
}

.custom-input::placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-style: italic;
    font-size: 0.9rem;
}

.form-label {
    color: var(--hgColor) !important;
    font-weight: 200;
    margin-left: 10px;
}

/* Botón Enviar */
.btn-custom-send {
    background-color: var(--hgColor);
    color: var(--fondoOscuro);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 100%;
    font-weight: 400;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.btn-custom-send:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(242, 227, 148, 0.3);
    filter: brightness(1.1);
}

/* Alertas adaptadas */
.custom-alert {
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
    background: var(--fondoCards);
    box-shadow: var(--card-shadow-inner);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.alert-error-glow {
    border-color: #ff4d4d !important;
    color: #ff4d4d;
}

.alert-success-glow {
    border-color: #66ff66 !important;
    color: #66ff66;
}

.input-invalid-glow {
    border: 1.5px solid #ff4d4d !important;
}

.input-valid-glow {
    border: 1.5px solid #66ff66 !important;
}