/* Variables de paleta */
:root {
  --fondoMedio: #0B415E;
  --fondoOscuro: #0A182E;
  --fondoCards: #15314F;
  --hgColor: #F2E394;
  --textColor: #FFFFFF;

  --card-shadow-inner-reves: inset -0.5rem 0rem 2.5rem 0.3rem rgba(0, 0, 0, 0.6),
    inset -1rem -1rem 2rem rgba(255, 255, 255, 0.05);
}

.main-content {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-container-wrapper {
  background-color: var(--fondoCards) !important;
  border-radius: 3rem;
  overflow: hidden;
  max-width: 80rem;
  width: 100%;
  max-height: 45rem;
}

.login-img-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Caja de formulario (Lado derecho) */
.form-signin {
  background-color: var(--fondoCards);
  padding: 3rem !important;
  height: 100%;
  box-shadow: var(--card-shadow-inner-reves);
}

.form-signin h1 {
  color: var(--hgColor);
  font-weight: 400;
  letter-spacing: 2px;
}

/* Inputs */
.frminp {
  background-color: var(--fondoCards) !important;
  border: 1px solid var(--hgColor) !important;
  border-radius: 0.8rem !important;
  color: var(--textColor) !important;
  padding: 0.8rem 1.2rem;
  box-shadow: var(--card-shadow-inner);
  transition: all 0.3s ease;
  width: 100%;
}

.frminp::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-style: italic;
  font-size: 0.9rem;
}

.frmlbl {
  color: var(--hgColor) !important;
  font-weight: 200;
  margin-left: 10px;
  margin-bottom: 0.5rem;
  display: block;
}

/* Botón Iniciar Sesión */
.Btn {
  background-color: var(--hgColor);
  color: var(--fondoOscuro);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 100%;
  font-weight: 400;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.Btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(242, 227, 148, 0.3);
  filter: brightness(1.1);
}

/* Enlaces inferiores */
.frma {
  color: var(--hgColor);
  text-decoration: none;
  font-size: 0.9rem;
  opacity: 0.7;
  transition: opacity 0.3s;
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
}

.frma:hover {
  opacity: 1;
  color: var(--hgColor);
}

/* Estados de Validación */
.input-invalid-glow {
  border: 1.5px solid #ff4d4d !important;
}

.input-valid-glow {
  border: 1.5px solid #66ff66 !important;
}

/* Responsivo */
@media (max-width: 768px) {
  .login-container-wrapper {
    border-radius: 2rem;
    width: 95%;
  }

  .form-signin {
    padding: 2.5rem 1.5rem !important;
  }
}