html {
  --primaryColor: #011C40;
  --secondaryColor: #023859;
  --bgColor: #26658C;
  --fifthColor: #54ACBF;
  --color-light: #A7EBF2;
  --textColor: #FFFFFF;
  --hgColor: #FDF5AA;
  --mainFamilyFont: "Outfit", sans-serif;
}

body {
  font-family: 'Outfit', sans-serif;
  background: linear-gradient(90deg, var(--secondaryColor) 0%, var(--bgColor) 100%);
  min-height: 100vh;
  color: var(--textColor);
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.main-wrapper {
  max-width: 85rem;
}

/* ------------------------------
   ZONA SUPERIOR HERO
   ------------------------------ */

.hero-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: stretch;
  max-width: 81.25rem;
  margin: 0 auto;
}

.hero-card {
  min-height: 39.063rem;
  width: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.625rem 1.25rem #011C40;
}

.hero-card img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  display: block;
}

/* ------------------------------
   TEXTO CENTRO HERO
   ------------------------------ */
.hero-center {
  background-image: url('../assets/FondoUno.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-center-card .overlay {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 1rem 1rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-relative {
  position: relative;
  z-index: 2;
  width: 100%;
}

/* TITULO GRANO & CLICK */
.brand-title {
  color: var(--hgColor);
  font-weight: 43.75rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  font-size: 2.3rem;
}

/* ICONOS */
.feature-icon {
  color: var(--hgColor);
}

.hero-info p {
  font-size: 0.95rem;
}

.mt-2 {
  color: var(--textColor);
}

/* ------------------------------
   SECCIÓN DE TÍTULO PRODUTOS
   ------------------------------ */
.section-title-container h2 {
  font-size: 3rem;
  color: var(--hgColor);
  font-weight: 35rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

/* ------------------------------
   SECCIÓN DE PRODUCTOS
   ------------------------------ */

.classics-section {
  padding-bottom: 0;
  /* Pegado al footer */
  max-width: 1200px;
  padding-top: 60px;
  margin: 0 auto;
}

.classic-card {
  background-color: var(--color-light);
  border-radius: 13rem 13rem 0rem 0rem;
  /* Forma de arco superior */
  padding: 0.5rem 0.2rem 0rem 0.2rem;
  transition: transform 0.3s ease;
  margin-bottom: 0;
  box-shadow: 0 -10px 25px rgba(1, 28, 64, 0.3);
  position: relative;
}

.classic-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 -15px 50px rgba(1, 28, 64, 0.25);
}

.classic-arch-img {
  background-color: var(--color-light);
  border-radius: 13rem 13rem 0 0;
  /* Arco interno */
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  position: relative;

}

.classic-arch-img img {
  width: 66%;
  max-height: 200px;
  height: auto;
  object-fit: contain;
  position: absolute;
  bottom: 33px;
  filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.3));
}

.classic-content {
  padding: 1.5rem;
  background: linear-gradient(90deg, var(--primaryColor) 0%, var(--bgColor) 100%);
  border-radius: 5rem 5rem 0rem 0rem;
}

.product-name {
  color: var(--hgColor);
}

.product-description {
  font-size: 0.9rem;
  color: var(--textColor);
  margin-bottom: 1.5rem;
  min-height: 3rem;
  opacity: 0.9;
}

/* Ajuste para que quede pegado al footer */
#page-content {
  margin-bottom: 0 !important;
}

.mb-5.products-container {
  display: none;
  /* Ocultamos la versión anterior */
}


/* ------------------------------
   BOTONES VER DETALLES
   ------------------------------ */
.btn-details {
  background-color: var(--hgColor);
  color: var(--primaryColor);
  font-size: 1rem;
  font-weight: 37.5rem;
  border-radius: 3.125rem;
  padding: 0.5rem 1.5rem;
  border: none;
  transition: transform 0.2s, background-color 0.2s;
  min-height: 2.75rem;
}

.btn-details:hover {
  background-color: var(--color-light);
  transform: scale(1.05);
}

/* GRUPO 2: Imágenes Grandes */
.large-products-group {
  display: flex;
  gap: 3rem;
  flex: 2;
  justify-content: center;
}

.large-img-box img {
  width: 13.25rem;
  height: 16rem;
  object-fit: cover !important;
  border-radius: 0.938rem;
  box-shadow: 0 0.5rem 1.25rem #011C40;
}

/* ------------------------------
   RESPONSIVIDAD (Media Queries)
   ------------------------------ */

@media (max-width: 64rem) {

  .hero-grid {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
    gap: 0 !important;
    position: relative;
    height: 100%;
    min-height: 31.25rem;
  }

  .hero-card {
    grid-column: 1 / 2 !important;
    grid-row: 1 / 2 !important;
    height: auto !important;
    min-height: 31.25rem;
    border-radius: 1.25rem;
    position: relative;
    box-shadow: none;
  }

  .hero-card img {
    height: 100%;
    object-fit: cover !important;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* --- TARJETA CENTRAL (TEXTO): ORDEN Y ESTILO --- */

  .content-relative {
    position: relative;
    z-index: 10;
  }

  .hero-left,
  .hero-right {
    display: none !important;
  }

  .hero-center {
    z-index: 5;
    background-image: url('../assets/FondoUno.png') !important;
    background-color: transparent !important;
    background-size: cover !important;
    background-position: center !important;

    padding: 1rem 1rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-title-container h2 {
    font-size: 2rem;
    text-align: center;
  }

  .products-layout {
    flex-direction: column;
    align-items: center;
  }

  .small-products-group {
    justify-content: row;
  }

  .large-products-group {
    flex-direction: row;
    align-items: center;
  }

  /* --- PRODUCTOS --- */

  .classics-section {
    padding-left: 0.5rem;
    padding-right: 1rem;
    padding-top: 10px;
  }

  .classic-card {
    margin-top: 60px;
    /* Más espacio en móvil para que no choquen al apilarse */
    max-width: 400px;
    /* Evita que las tarjetas sean gigantes en móvil */
    margin-left: auto;
    margin-right: auto;
  }

  .classic-arch-img {
    height: 150px;
  }


  .classic-card {
    border-radius: 13rem 13rem 3rem 3rem;
  }

  .classic-content {
    border-radius: 3rem 3rem 2rem 2rem;
  }

}

@media (max-width:36rem) {

  .small-products-group,
  .large-products-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
  }
}

/* ------------------------------
   NAVBAR
   ------------------------------ */

#navBar,
#navbar-nav a:visited,
#navbar-nav a:hover,
#navbar-nav a:active,
#nav-link a {
  min-height: 55px;
  background-color: var(--bgColor);
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 2rem;
  box-shadow: 0 0.3rem 0.5rem -0.12rem black;
  font-family: var(--mainFamilyFont);

  padding-top: 0 !important;
  padding-bottom: 0 !important;  
}

.navbar-toggler {
  background-color: var(--secondaryColor);
  border-radius: 5rem;
}

.nav-link {
  color: var(--hgColor);
  font-weight: 600;
}

.nav-link:hover {
  color: var(--hgColor);
  font-weight: 600;
}

#carrito {
  background: transparent;
  padding: 0 !important;
}

#carrito .btn {
  display: inline-flex;
  align-items: center;
  gap: 0.45rem;
  background-color: var(--hgColor);
  color: #000;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.5rem -0.12rem black;
  padding: 0.6rem 1rem;
  line-height: 1;
  height: 2.75rem;
  white-space: nowrap;
}

.user-avatar-nav {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.06rem solid var(--hgColor);
}

.user-name-nav {
  max-width: 6.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--textColor);
  font-weight: 600;
  white-space: nowrap;
}

/* Dropdown */
.dropdown-menu {
  background-color: var(--secondaryColor);
  border-radius: 0.75rem;
  border: 0.06rem solid var(--fifthColor);
  font-weight: 500;
}

.dropdown-item {
  color: var(--textColor);
  font-weight: 500;
}

.dropdown-item:hover {
  background-color: var(--secondaryColor);
  color: var(--color-light);
}

#accountDropdown {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  padding-left: 0.25rem 0.75rem;
  border-radius: 1.5rem;
}

#accountDropdown:hover {
  background-color: rgba(255, 255, 255, 0.08);
}



@media (max-width: 991.98px) {
  .navbar {
    position: relative;
  }

  #mainNavbarContent {
    position: absolute;
    top: 85%;
    right: 0;
    width: 10rem;
    background-color: var(--secondaryColor);
    padding: 1rem;
    border-radius: 1rem;
    z-index: 1000;
  }
}

@media (max-width: 390px) {

  .Btn,
  .Btn2 {
    transition: none !important;
    animation: none !important;
    transform: none !important;
  }

  .Btn::before,
  .Btn2::before {
    transition: none !important;
    transform: none !important;
    left: 0 !important;
    right: 0 !important;
    background-color: transparent !important;
  }

  .Btn:hover,
  .Btn2:hover {
    transform: none !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103) !important;
  }

  .Btn:hover::before,
  .Btn2:hover::before {
    transform: none !important;
  }

  .Btn:active,
  .Btn2:active {
    transform: none !important;
  }

}

/* ------------------------------
   ESTILOS DE FOOTER
   ------------------------------ */

#footer-container {
  flex-shrink: 0;
  width: 100%;
}

.footer-gradient {
  background: linear-gradient(to right, white, var(--fifthColor));
  padding: 1rem 0;
}

.footer-brand {
  font-weight: 700;
  letter-spacing: 0.02rem;
  color: var(--primaryColor);
  text-decoration: none;
}

.footer-copyright {
  font-size: 0.95rem;
  color: var(--primaryColor);
  opacity: 0.92;
  margin-top: 0.5rem;
}

.footer-links a {
  color: var(--primaryColor);
  text-decoration: none;
  font-size: 0.95rem;
}

.footer-links a:hover,
.footer-links a:focus {
  color: var(--primaryColor);
  text-decoration: underline;
  font-weight: bold;
}

.disabled-link {
  pointer-events: none;
  color: gray;
  cursor: default;
  text-decoration: none;
}

@media (max-width: 24rem) {
  .footer-links {
    align-items: center;
  }
}