:root {
  --primaryColor: #011C40;
  --fondoCards: #15314F;
  --fondoOscuro: #0A182E;
  --hgColor: #F2E394;
  --textColor: #FFFFFF;

  --card-shadow-inner: inset 8px 8px 2rem rgba(0, 0, 0, 0.5),
    inset -4px -4px 1.5rem rgba(255, 255, 255, 0.03);
}

.main-content {
  min-height: 100vh;
  padding: 3rem 0;
}

.recuperar-container-wrapper {
  background-color: var(--fondoCards);
  border-radius: 3rem;
  max-width: 50rem;
  overflow: hidden;
}

.form-recuperar {
  padding: 3rem;
  box-shadow: var(--card-shadow-inner);
}

.form-recuperar h1 {
  color: var(--hgColor);
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

/* Inputs */
.frminp {
  background-color: var(--fondoCards) !important;
  border: 1px solid var(--hgColor) !important;
  border-radius: 0.8rem !important;
  color: var(--textColor) !important;
  padding: 0.8rem 1.2rem;
  box-shadow: var(--card-shadow-inner);
  transition: all 0.3s ease;
  width: 100%;
}

.frmlbl {
  color: var(--hgColor) !important;
  font-weight: 300;
  margin-left: 1rem;
  margin-bottom: 0.4rem;
  display: block;
  font-size: 1rem !important;
}

/* Botón principal */
.Btn {
  background-color: var(--hgColor);
  color: var(--fondoOscuro);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 100%;
  font-weight: 400;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.Btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(242, 227, 148, 0.2);
  filter: brightness(1.1);
}

.alert {
  background-color: var(--fondoCards) !important;
  box-shadow: var(--card-shadow-inner) !important;
  border-radius: 1rem !important;
  padding: 1.2rem !important;
  border: 1px solid !important;
  border-color: #ff4d4d !important;
}

.alert p {
  color: #ff4d4d !important;
  margin-bottom: 0;
  font-size: 0.9rem;
}

.alert p:first-child {
  color: #ff4d4d !important;
  font-weight: 600;
  margin-bottom: 5px;
}