:root {
  --fondoMedio: #0B415E;
  --fondoOscuro: #0A182E;
  --fondoCards: #15314F;
  --hgColor: #F2E394;
  --textColor: #FFFFFF;
  --card-shadow-inner-reves: inset -8px 0px 2.5rem 0.3rem rgba(0, 0, 0, 0.6),
    inset 4px -4px 2rem rgba(255, 255, 255, 0.05);
}

.main-content {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-container-wrapper {
  background-color: var(--fondoCards);
  border-radius: 3rem;
  overflow: hidden;
  max-width: 82rem;
  width: 100%;
}

.login-img-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.form-signin {
  background-color: var(--fondoCards);
  padding: 3rem !important;
  height: 100%;
  box-shadow: var(--card-shadow-inner-reves);
}

.form-signin h1 {
  color: var(--hgColor);
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.8rem;
}

/* Inputs */
.frminp {
  background-color: var(--fondoCards) !important;
  border: 1px solid var(--hgColor) !important;
  border-radius: 0.8rem !important;
  color: var(--textColor) !important;
  padding: 0.8rem 1.2rem;
  box-shadow: var(--card-shadow-inner);
  transition: all 0.3s ease;
  width: 100%;
}

.frminp::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-style: italic;
  font-size: 0.9rem;
}

.frmlbl {
  color: var(--hgColor) !important;
  font-weight: 300;
  margin-left: 1rem;
  margin-bottom: 0.4rem;
  display: block;
}

/* Botones */
.Btn {
  background-color: var(--hgColor);
  color: var(--fondoOscuro);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 100%;
  font-weight: 400;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  margin-top: 0.1rem;
}

.Btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(242, 227, 148, 0.2);
  filter: brightness(1.1);
}

/* Estilo de la Nota */
.nota-texto {
  font-size: 0.75rem;
  color: var(--textColor);
  opacity: 0.6;
  margin: 0;
  font-style: italic;
}

/* Validación */
.input-invalid-glow {
  border: 1.5px solid #ff4d4d !important;
}

.input-valid-glow {
  border: 1.5px solid #66ff66 !important;
}

.alert {
  background-color: var(--fondoCards) !important;
  box-shadow: var(--card-shadow-inner) !important;
  border-radius: 2rem !important;
  padding: 1.5rem !important;
  border: 1px solid;
  border-color: #ff4d4d !important;
  margin-top: 20px;
  display: block;
}

.alert p:first-child {
  color: #ff4d4d !important;
  font-weight: 600 !important;
  margin-bottom: 8px !important;
  letter-spacing: 0.5px;
}

.alert p:last-child,
.alert div {
  color: #ff4d4d !important;
  font-size: 0.9rem !important;
  margin: 0 !important;
  line-height: 1.5 !important;
}

.alert p,
.alert li,
.alert div {
  color: #ff4d4d !important;
  opacity: 1 !important;
  text-shadow: none !important;
}

.alert-success p:last-child {
  color: #66ff66 !important;
}